#wrapper {
    
    display:grid;
    grid-gap: 1em;
    grid-template-columns: 5% auto 400px auto 5%;
    grid-template-rows: 100px auto 500px auto 100px;
}

#header {
    background-color:pink;
    grid-area: 1/1/1/6;
}

#main {
    background-color:lightblue;
    grid-area: 2/2/4/5;

    
}

#timer {
    background-color:blue;
    grid-area: 2/2/2/5;
    line-height:20px;
    font-size:30px;
}

#footer {
    background-color:gray;
    grid-area:4/1/6/6;
}